
<!-- <div class="content_wrapper"> -->

  <section class="spotify_wrapper">
    <iframe id="spotify" src="{{trackUrl}}" width="300" height="380" frameborder="0" allowtransparency="true">
    </iframe>
    <div class="track_list">
      <div class="track" ng-repeat="track in trackSearchResults.tracks.items" ng-click="play(track)">
        <img class="track_image" src="{{ track.album.images[0].url }}" />
        <h2 class="track_name">{{track.name}}</h2>
        <h3 class="track_artist">{{track.artists[0].name}}</h3>
      </div>
    </div>
  </section>

  
  <div class="backdrop_wrapper">
    
    <div class="ambience_control">
      <div id="video-placeholder"></div>
      <button id="play">></button>
      <button id="pause">| |</button>
      <button id="up">+</button>
      <button id="down">-</button>
    </div>

    <div class="ambience_select">
      <label> choose ambience: </label> 
      <select name="ambience_dropdown">
        <option value="dromund_kaas">Sith Imperial Capital Dromund Kaas</option>
        <option value="coruscant">Star Wars: Coruscant Penthouse</option>
        <option value="rain">Heavy Rain</option>
        <option value="thunderstorm">Thunderstorm</option>
        <option value="fire">Crackling Fire</option>
      </select>    
    </div>
    
  </div>


  <div class="wrapper">
    <section class="logo_wrapper">
      <h1>backdrop</h1>
      <form class="search" ng-submit="getSongs()">
        <input type="text" ng-model="query" placeholder="search spotify"/>
        <button type="submit">search</button>
      </form>
    </section>
  </div>

  <script src="https://www.youtube.com/iframe_api"></script>



