/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* styles begin here */

body {
  background-color: #000; 
  font-family: sans-serif;
}

.spotify_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 300;
  height: 100vh;
  background-color: #222;
  opacity: 0.3;
  display: block;
  margin: auto auto;
}

.spotify_wrapper:not(:focus) {
  opacity: 0.3;
  transition: 0.48s;
}

.spotify_wrapper:hover, .spotify_wrapper:focus {
  opacity: 0.8;
  transition: 0.48s;
}

.wrapper {
  padding-right: 325px;
  width: calc("100vw");
  height: 100vh;  
  background-color: #000;
  background: radial-gradient(circle at center, #222 0%,#000000 45%);
  background-position: -150px -13px; 
}

.backdrop_wrapper {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  right: 300px;
  background-color: #222;
  opacity: 0.3;
}

.backdrop_wrapper button{
  width: 100px;
  height: 60px;
  float: right;
}

#video-placeholder {
  left:0;
  bottom: 0;
  position: fixed;
  display: none;
}

.backdrop_wrapper:hover, .backdrop_wrapper:focus {
  opacity: 0.8;
  transition: 0.48s;
}

.logo_wrapper {
  position: relative;
  top: 49%;
  transform: translateY(-50%);
  text-align: center;
}

h1 {
  font-size: 90px;
  font-weight: 100;
  font-family: 'Megrim', cursive;
  display: border-box;
  letter-spacing: 10px;
  color: #eee;
  margin-bottom: 30px;
}

.search {
  margin: auto auto;
  width: 600px;
}

.search input {
  box-sizing: border-box;
  float: left;
  width: 487px;
  height: 40px;
  border-radius: 30px 0 0 30px;
  background-color: Transparent;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #ececec;
  padding-left: 25px;
  padding-bottom: 4px;
  border: none;
  border: 2px solid #bbbbbb;
  border-right: none;
}

.search input:focus {
  outline: none;
}

.search button {
  box-sizing: border-box;
  float: left;
  width: 113px;
  height: 40px;
  color: #ececec;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  padding-bottom: 4px;
  border-radius: 0 30px 30px 0;
  background-color: Transparent;
  border: 2px solid #bbbbbb;
}

.search button:focus {
  outline: none;
}

.search button:hover {
  background-color: rgba(50,50,50,0.5);
}

.search_results {
  position: fixed;
  color: #ececec;
  bottom: 120px;
  width: 100%;
  height: 180px;
  background-color: #111;
  content: "";
}

.search_results div {
  color: #bbb;
  margin: 10px;
  display: inline;
  float: left;
}

.track_list {
  height: 60%;
  position: relative;
  overflow-x:hidden;
  overflow-y:scroll;
}

.track_list::-webkit-scrollbar {
  width: 6px;
  opacity: 0.3; 
}
.track_list::-webkit-scrollbar * {
  background:transparent; 
}
.track_list::-webkit-scrollbar-thumb {
  background:rgba(150,150,150,0.2) !important; 
}

.spotify-wrapper .track {
  max-width: 300px;
}

.track {
  color: #bbb;
  font-size: 12px;
  font: serif;
  max-width: 300px;
  position: relative;
}

.track:hover {
  background-color: #333;
}

.track img {
  width: 50px;
  height: 50px;
}

.track_name {
  position: absolute;
  font-weight: normal;
  top: 10px;
  left: 60px;
}

.track_artist {
  position: absolute;
  font-weight: lighter;
  color: #999;
  top: 25px;
  left: 60px;
}